module.exports = {
	MAIL_FROM: "Reports <reports@doushio.com>",
	MAIL_TO: ['lalc@doushio.com'],
	MAIL_THREAD_URL_BASE: 'http://your.board.index/',
	MAIL_MEDIA_URL: 'http://your.board.index/media/',

	/* optional nodemailer config */
	SMTP: {
		service: 'Gmail',
		auth: {
			user: "reports@doushio.com",
			pass: "",
		},
	},

	RECAPTCHA_SITE_KEY: '',
	RECAPTCHA_SECRET_KEY: '',
};
