module.exports = {
	MAIL_FROM: "Reports <reports@doushio.com>",
	MAIL_TO: ['lalc@doushio.com'],
	MAIL_THREAD_URL_BASE: 'http://your.board.index/',
	MAIL_MEDIA_URL: 'http://your.board.index/media/',

	/* optional nodemailer config */
	/*
	SMTP: {
		service: 'Gmail',
		auth: {
			user: "reports@doushio.com",
			pass: "",
		},
	},
	*/
	/* optional; you can get this token from the BotFather */
	TELEGRAM_TOKEN: false,
	/* mods can sign up by DMing the bot `/register <the following password>`:
	TELEGRAM_PASSWORD: 'bugbear',

	RECAPTCHA_SITE_KEY: '',
	RECAPTCHA_SECRET_KEY: '',
};
