*.node
*.pid
*.swp
.build
.lock*
.DS_Store
authdump
config.js
graveyard
error.log
findapng
hot.js
jsmin
node_modules/
package-lock.json
perceptual
imager/tmp
state
tripcode/build
upkeep/credentials.json
voice/*.mp3
www/archive
www/js/client*.js
www/js/vendor*.js
www/src
www/thumb
www/mid
www/vint
